  /* Custom page CSS
  -------------------------------------------------- */
.row-fluid h1 {
  margin: 0;
  padding: 0;
}

h2 {
  text-transform: uppercase;
}

h2 a span {
  text-transform: none;
  font-size: 18px;
  font-style: italic;
}

h2 a span:after {
  content: " >>"
}

table {
  font-size: 87%;
}

table td {
  empty-cells: show;
}

button.btn,
.btn-group button.btn {
  font-size: 80%;
  font-size: 11px;
}

.well {
  /*overflow: hidden;*/
}

tbody.ui-sortable td {
  cursor: pointer;
}

.btn {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  filter: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-group > .btn:first-child {
  -webkit-border-bottom-left-radius: 0px;
          border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
          border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
}

.btn-group > .btn:last-child {
  -webkit-border-top-right-radius: 0px;
          border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
          border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.btn.active,
.btn:active {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn.disabled,
.btn[disabled] {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}