.npscoresummary .col-sum {
	/*background: url("../images/grid-small.png");*/
	font-size: 400%;
	padding: 4% 4% 4% 1%;
}

.stats-container .manager-summary {
	background: #d7eaf2;
}

.manager-summary:hover {
	background: #5e9ab2;
	cursor: pointer;
}