.table {
	font-size: 80%;
}

.main-list .table th,
table#vendorstable th,
table#excludedjobstable th {
  font-size: 90%;
  padding: 20px 5px 5px 5px; 
  border: 0;
  background: #f9f9f9;
  color: #5e9ab2;
  text-decoration: underline;
  cursor: pointer;
}

.main-list .table th:hover,
table#vendorstable th:hover,
table#excludedjobstable th:hover {
	color: #2c4853;
  text-decoration: none;
}

.jobdeets th {
  cursor: text!important;
}

.main-list > table > tbody > tr > td {
  /*text-decoration: underline;*/
  color: #2c4853;
}

.main-list > table > tbody > tr:hover > td {
  text-decoration: none;
  color: #db0631;
  cursor: pointer;
}

td.delete a {
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #e9e9e9;
	/*padding: 4px;*/
	border-radius: 4px;
  background: #5e9ab2;
  font-size: 90%;
}

td.delete a:hover {
  background: #2c4853;
	text-decoration: none;
}

.table.estimates {
  font-size: 90%;
}

p#loginmessage {
  display: none;
  padding: 0px;
  font-size: 90%;
  margin: 5px 0;

  border: 1px solid transparent;
  border-radius: 4px;
  color: #b94a48;
  /*background-color: #f2dede;
  border-color: #eed3d7;*/
}

.modal-body tr.not-editing .btn span i,
.modal-body tr.editing .btn span i {
  display: none;
}

.modal-body tr.not-editing .btn span,
.modal-body tr.editing .btn span {
  font-size: 13px;
  padding: 0px;
}

.modal-body tr.editing .btn-group {
  min-width: 45px;
}

/*.modal-body tr.not-editing .btn {
  background: red !important;
}*/

/* *************************** Responsive Tables for Modal Boxes ********************************* */
@media only screen and (max-width: 800px) {
  
  /* Force table to not be like tables anymore */
  .main-list .table, 
  .main-list .table thead, 
  .main-list .table tbody, 
  .main-list .table th, 
  .main-list .table td, 
  .main-list .table tr,
  .manydata .table.jobdeets, 
  .manydata .table.jobdeets thead, 
  .manydata .table.jobdeets tbody, 
  .manydata .table.jobdeets th, 
  .manydata .table.jobdeets td, 
  .manydata .table.jobdeets tr { 
    display: block; 
  }
 
  /* Hide table headers (but not display: none;, for accessibility) */
  .main-list .table thead tr,
  .manydata .table.jobdeets thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  .main-list .table tr,
  .manydata .table.jobdeets tr { border: 1px solid #ccc; }
 
  .main-list .table td,
  .manydata .table.jobdeets td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 30%; 
    white-space: normal;
    text-align:left;
    min-height: 25px;
  }
 
  .main-list .table td:before,
  .manydata .table.jobdeets td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 25%;
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
 
  /*
  Label the data
  */
  .main-list .table td:before,
  .manydata .table.jobdeets td:before  { content: attr(data-title); }
}