/* Colors */
/* Brown: #242323; */
/* Dark Blue: #2c4853; */
/* Light Blue: #5e9ab2; */
/* Background White: #d5d4d4; */
/* Off White: #fdfafa; */
/* Medium White: #d5d4d4; */
/* Magenta: #db0631; */
/* END Colors */

/* *************************** Global Styles ********************************* */
body {
background: #fbf8f8;
}

/* Top nav bar (including logo and brand)
  -------------------------------------------------- */
.navbar-inverse {
  z-index: 10;
  font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
  position: relative;
  background: #000;
  border-bottom: 1px solid #333;
  height: 10px;
  border-radius: 0;
  height: 48px;
  margin: 0;
  padding: 0;
}

.navbar-inverse .navbar-nav li {
  font-size: 85%;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #222222;
}

.navbar .navbar-brand:hover {
  color: #5e9ab2;
}

.navbar-header {
  position: relative;
  left: 0;
  /*background: blue;*/
}

/* Logo */
.navbar-header a.homelink {
  /*display: inline;*/
  float: left;
  position: absolute;
  top: -2px;
  margin-left: 0;
  width: 82px;
  left: 0;
  height: 64px;
  background: url("../images/logo-simple.png") no-repeat;
  clear: both;
}

.navbar-header a.homelink span {
  display: none;
}

.navbar-header a.navbar-brand {
  left: 95px;
  position: relative;
  /*background: orange;*/
  width: auto;
  /*min-width: 900px;*/
  display: inline-block;
}

.navbar-inverse .navbar-nav li.username {
  margin-top: 15px;
  color: #d5d4d4;
}

/* Logged in color */
.navbar-inverse .navbar-nav li.greeting {
  color: #dee9ee;
}

/* Main nav bar
  -------------------------------------------------- */
.navbar-static-top {
  z-index: 0;
  background: #d5d4d4;
  border-top: 1px solid #000;
  border-bottom: 1px solid #c6c6c6;
  color: #EEE;
}

.navbar-static-top .navbar-nav > li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-static-top .navbar-nav > li a {
  padding: 10px;
}

.navbar-static-top .navbar-nav > li > a:hover {
  color: #333;
  background: #aba9a9;
  background-color: #aba9a9;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #aba9a9;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #333;
  background-color: #aba9a9;
  background: #aba9a9;
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}

/* General nav
  -------------------------------------------------- */
.navbar-nav > li > .sectionicon {
  float: left;
  display: inline-block;
  position: relative;
  top: 24px;
}

.navbar-nav > li > .sectionicon a:hover {
  color: red;
}

.navbar-collapse {
  margin: 0;
  padding: 0;
}

.navbar-nav > li > a > i {
  display: none;
}

.navbar-nav > li > a > strong {
  font-weight: 100;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #FFF;
  text-decoration: none;
  background-color: #5e9ab2;
}

.btn,
.dropdown-toggle.btn {
  padding: 5px 20px;
  margin: 10px 0 0 0;
  background: #5e9ab2!important;
  color: #FFF;
  border: 0;
  font-size: 100%;
  color: #FFF!important;
}

.btn:hover,
.btn:active,
.btn:focus
.dropdown-toggle.btn:hover,
.dropdown-toggle.btn:active,
.dropdown-toggle.btn:focus {
  background: #2c4853!important;
}

input:hover,
input:active,
input:focus {
  background: #fdfce6;
}

/* ROWS
  -------------------------------------------------- */
#wrap  {
  margin: 0 auto -40px;/* Negative indent footer by it's height */
}

#wrap .row {
  width: 90%; /* 960px */
  height: 100%;
}

/* Main content area
  -------------------------------------------------- */
.page-content {
  position: relative;
  margin: 0 auto;
  top: -20px;
  padding: 0;
  height: 100%;
  min-height: 100%;
  width: 90%; /* 960px */
  border-left: 1px solid #d5d4d4;
  background: purple url("../images/content-sub-bg_responsive_20.gif") 
    repeat-y 20% 0; /* 185px / 960px */
}

/* Sidebar
  -------------------------------------------------- */
.row .page-content-sidebar {
  /*position: absolute;*/
  overflow: hidden; 
  top: 0;
  /*width: 19.27083333%;*/
  width: 20%;
  margin: 0;
  padding: 0px;
  left: 0;
  height: 100%;
  float: left;
  /*width: 19.27083333%; /* 185px / 960px
  background: pink; */
  font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
}

.page-content-sidebar ul li.mainlink {
  list-style-type: none;
  margin: 0;
  margin-left: -40px;
  padding: 0;
}

.page-content-sidebar ul li.mainlink a,
.page-content-sidebar .mainlink {
  text-transform: uppercase;
  background: #b3c7cf;
  font-size: 15px;
  text-decoration: none;
  padding: 7px 5px;
  margin-left: 0px;
  display: block;
  position: relative;
  color: #242323;
  font-weight: bold;
  /*background: url("../images/ul-border-bottom.gif") bottom repeat-x;*/
}

.page-content-sidebar .mainlink .glyphicon {
  font-size: 85%;
  margin-right: 5px;
}

.page-content-sidebar .nolink {
  cursor: default;
}

.page-content-sidebar ul li.mainlink a:hover,
.page-content-sidebar .mainlink:hover {
  color: #5e9ab2;
}

/* Active main menu item */
.menu-item a.active {
  background: #242323;
  color: #ccc;
}

.menu-item a.active .arrow-right {
  width: 0; 
  height: 0; 
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  
  border-left: 12px solid #242323;

  position: absolute;
  float: right;
  right: -12px;
  top: -0px;
}

.page-content-sidebar .nolink:hover {
  color: #242323;
}

.page-content-sidebar .mainlink .icn {
  width: 17px;
  height: 15px;
  position: absolute;
  display: block;
  left: -17px;
  top: 3px;
  background: blue;
}

.page-content-sidebar .submenu {
  list-style-type: none;
  margin: 4px 0 10px -20px;
}

.page-content-sidebar ul li.sublink {
  list-style-type: none;
  margin: 2px 0 0 -20px;
}

a.checkout {
  text-decoration: underline;
}

.page-content-sidebar a#header-dashboard .icn {
  background: url("../images/icn-home.gif") no-repeat;
}

.page-content-sidebar  a#header-employees .icn {
  background: url("../images/icn-employees.gif") no-repeat;
}

.page-content-sidebar  a#header-another .icn {
  background: url("../images/icn-other.gif") no-repeat;
}

.page-content-sidebar .menu-item {
  /*background: url("../images/ul-border-bottom.gif") bottom repeat-x;*/
  padding: 0;
  margin: 0;
}

/* Page Content Main (right of sidebar)
  -------------------------------------------------- */
.row .col-md.9.page-content-main {
  /*background: green;*/
  height: 100%;
  min-height: 100%;
  width: 80%;
  font-family: "Arimo-Regular", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.row .col-md-12 {
  background: #fbf8f8;
  width: 100%;
  height: 100%;
  padding: 30px;
  border: 0;
}

.row .page-content-main h1,
.row .page-content-main h2,
.row .page-content-main h3,
.row .page-content-main h4,
.row .page-content-main h6 {
  font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
}

.row .page-content-main p {
  margin: 10px 0 20px 0;
  line-height: 1.5em;
  font-size: 13px;
  font-family: "Arimo-Regular", Helvetica, Arial, sans-serif;
  max-width: 75%;
  color: #666;
}

.row .page-content-main .table {
  font-size: 80%;
}

/*.row .page-content-main .table .total {
  background: #999;
}*/

.row .page-content-main .table > tbody > tr.total > td {
  /*background-color: #edf7f5;*/
  font-weight: bold;
  background-color: #d5e5ec;
}

.page-content-main .panel img {
  width: 80%;
  max-width: auto;
}

/* month-to-date labor sales box */
.page-content-main aside {
  position: relative;
  top: -100px;
  background: #e8e8e8;
  border: 1px solid #d5d4d4;
  right: 0;
  margin-bottom: -120px;
  float: right;
  display: block;
  padding: 10px 15px;
  clear: both;  
}

.page-content-main aside h5 {
  font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
  padding: 5px 10px;
}

.page-content-main aside a {
  font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
}

.page-content-main aside h5 span {
  font-weight: bold;
  padding: 0;
}

dl {
  padding: 10px;
  margin: 10px 0 20px 0;
  width: 70%;
}

dt {
  float: left;
  clear: left;
  font-weight: bold;
  color: #333;
  padding: 10px 0 10px 10px;
  margin: 0 5px 0 0;
  /*border-bottom: 1px dotted #e8e8e8;*/
}

dt:after {
  content: ":";
}

dd {
  padding: 10px 0 10px 10px;
  margin-left: 10px;
  color: #666;
  border-bottom: 1px dotted #e8e8e8;
}


/* Calculator styles
  -------------------------------------------------- */
.page-content-main .calc {
  font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 40px !important;
}

.page-content-main .calc tr.captions {
  font-size: 10px;
}

.page-content-main .calc tr.captions td i {
  display: none;
}

.page-content-main .calc tr td small {
  font-style: normal;
  font-size: 14px;
  vertical-align: middle;
  font-family: "OpenSansCondensed-Light", Helvetica, Arial, sans-serif;
}

.page-content-main .calc input {
  font-size: 30px;
  padding: 2px;
  width: auto;
  max-width: 80px;
  height: 50px; 
  line-height: 1.7em;
  text-align: center;
  margin: 0 auto;
  color: #666;
}

.page-content-main .unassigned .tech-line {
  background-color: #FFF;
  padding: 20px;
}

.page-content-main .tech-line,
.page-content-main .grosspool-line form {
  display: block;
  position: relative;
  /*width: 96%;
  background: #ededed;
  border: 1px solid #CCC;*/
  padding: 10px 0;
  margin-bottom: 20px;
}

.page-content-main .grosspool-line {
  border-top: 1px dotted #CCC;
  padding-top: 10px;
}

.page-content-main .tech-line h4,
.page-content-main .grosspool-line label {
  font-size: 17px;  
  display: inline;
  margin: 0;
  padding: 0 0 0 10px;
  width: auto;
}

.page-content-main .tech-line .mem-percent {
  float: right;
  width: auto;
  top: -5px;
  right: 90px;
  position: relative;
  font-size: 20px;
  color: #999;
}

.page-content-main .tech-line .edit,
.page-content-main .grosspool-line .edit {
  float: right;
  top: -10px;
  right: 00px;
  position: absolute;
  display: none;
}

.page-content-main .grosspool-line .edit {
  top: 0px;
}

.page-content-main .unassigned .tech-line .edit {
  top: 5px;
  right: 10px;
}

.page-content-main .grosspool-line label {
  color: #352d2e;
  text-transform: uppercase;
  font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
}

.page-content-main .grosspool-line input {
  border: 1px solid #CCC;
  padding: 8px;
  max-width: 70px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 0 10px;
}

#push {
  clear: both;
  height: 40px;/*height of footer minus a little to adjust for moving it into the content-sub/main*/
}

/* *** END Shell styling *** */

.modal-dialog {
  width: 80%;
}

.modal-header {
  background: #EEE;
  border-radius: 6px 6px 0 0;
}

.modal-header .modal-title em {
  text-transform: none;
  font-style: normal;
}

.modal-header h4,
.modal-body h4 {
  text-transform: uppercase;
  font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
  font-size: 30px;
}

.modal-body h4 {
  font-size: 16px;
  width: 100%;
  border-bottom: 1px solid #EEE;
}

.modal-body h5 {
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

.modal-body .float-box {
  display: block;
  font-size: 85%;
  width: 45%;
  float: left;
  margin: 0 10px 10px 0;
}

.modal-body .float-box strong {
  padding: 10px;
  border: 1px solid #CCC;
  display: block;
  background: #fdfafa;
}

.modal-body .float-box small {
  font-size: 96%;
}

.modal-body .float-box form {
  margin: 0 0px 0px 20px;
}

.modal-body .float-box .btn,
.modal-body .table .btn {
  background-color: #5e9ab2;
  font-size: 100%;
}

.modal-body .table .btn:hover {
  background-color: #2c4853;
}

.modal-body .btn-default {
  background: #EEE;
  border: 1px solid #DDD;
  color: #333;
}

.modal-body .btn {
  border: 1px solid #5e9ab2 !important;
  background: #5e9ab2;
  color: #333;
  margin: 2px;
  padding: 2px;
}

/*.modal-body td input,
.modal-body td select {
  font-size: 80%;
  margin: 0;
  padding: 0;
  height: ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}*/

.modal-body .btn-default:hover {
   border: 1px solid #DDD !important;
   background: #DDD;
   color: #333;
}

.modal-body .btn-danger {
  background: #d9534f !important;
  border: 1px solid #d9534f !important;
}

.modal-body .btn-danger:hover {
  background: #ea110b !important;
  border: 1px solid #ea110b !important;
}

.modal-body .btn-success {
  background: #5cb85c !important;
  border: 1px solid #5cb85c !important;
}

.modal-body .btn-success:hover {
  background: #21cf21 !important;
  border: 1px solid #21cf21 !important;
}

.modal-body .float-box .btn:hover,
.modal-body .float-box .btn:focus,
.modal-body .float-box .btn:active {
  background-color: #2c4853;
}

.modal-footer {
  clear: left;
}

a,
a:active {
  color: #5e9ab2;
  font-weight: bold;
}

.btn {
  font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: #2c4853;
  border: 0;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #ffffff;
  background-color: #5e9ab2;
  border: 0;
}

table {
  background: #FFF
}

table,
table .btn {
  font-size: 100%;
}

.login-box {
  padding: 10px 0 0 12px;
  margin: 0;
}

.login-box input {
  font-size: 13px;
  letter-spacing: .025em;
  padding: 2px;
  margin-bottom: 10px;
}

.login-box .btn {
  background: #db0631;
  color: #FFF;
  border: 0;
  font-size: 12px;  
  font-weight: 100; 
}

.login-box .btn:hover,
.login-box .btn:active {
  background: #242323;
  color: #FFF;
}

.page-header h1,
.page-header h4 {
  font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 4em;
  border: 0;
}

.page-header h4 {
  font-size: 16px;
}

.page-header p {
  /*font-family: "OpenSansCondensed-Light", Helvetica, Arial, sans-serif;*/
  width: 60%;
  margin: 0 auto;
  font-size: 14px;
}

/* **** Back to Top shit **** */
  #back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99;
  width: 45px;
  height: 45px;
  display: block;
  font-size: 16px;
  text-align: center;
  line-height: 45px;
  background: #131313;
  opacity: .8;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
  /*padding: 10px;*/
  }

  #back-to-top:hover {
    text-decoration: none;
    background: #2c4853;
  }

  #back-to-top span {
    color: #fff;
  }

/* **** Sort Columns **** */
th {
  cursor: pointer !important;
  padding-top: 15px;
  width: auto;
}

.arrow {
  display: inline-block;
  position: absolute;
  float: right;
  width: 0;
  margin: 0 auto;
  margin-top: -12px;
  height: 0;
  vertical-align: middle;
  content: "";
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;=
}

th.sortup, th.sortdown {
  background: #dde8ee !important;
}

th.sortup .arrow {
  border-bottom: 4px solid #333  !important;
}

th.sortdown .arrow {
  border-top: 4px solid #333  !important;
}

/*body.modal-open {
    overflow: hidden;
}*/

.modal-small {
  width: 40%;
}

.modal-med {
  width: 60%;
}

/* *************************** Large size ********************************* */
  @media (min-width: 768px) {
    .container {
      /*max-width: 1100px;*/
      max-width: 100%;
    }
    
  }

/* *************************** Middle size ********************************* */
  @media (min-width: 768px) and (max-width: 991px) {
    .modal-small {
      width: 60%;
    }

    .modal-med {
      width: 80%;
    }
  }

  /* *************************** Mobile size ********************************* */
  @media (max-width: 767px) {
    .row.page-content {
      top: -20px;
      width: 95%; /* 960px */
      border: none;
      background: purple;
    }

    .row .page-content-sidebar {
      /*background: red;
      position: absolute;*/
      width: 100%;
      /*border-left: 1px solid #d5d4d4;
      width: 19.27083333%; /* 185px / 960px */
      background: pink;
    }

    .modal-wide {
      width: 90%;
    }

    .modal-small {
      width: 90%;
    }

    .modal-med {
      width: 90%;
    }

    table {
      font-size: 75%;
    }

    .modal-body .float-box {
      width: 100%;
    }

    .modal-header h4,
    .modal-body h4 {
      font-size: 20px;
    }

    .navbar-inverse {
      height: auto;
    }

    .page-header h1 {
      font-size: 3.3em;
    }
  }

/* *************************** Sticky footer styles *************************** */
  html,
  body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
  }

  /* Wrapper for page content to push down footer */
  #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
  }

  /* Set the fixed height of the footer here */
  #push,
  #footer {
    height: 60px;
  }
  #footer {
    background-color: #f5f5f5;
  }

/* *************************** Custom page CSS *************************** */
  /* Not required for template or sticky footer method. */
  #footer  {
    background: #333;
    font-size: 85%;
    color: #999;
    font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
    background: #333 url("../images/footer-bg.gif") bottom repeat;
  }


  .container .credit {
    margin: 20px 0;
  }

  small {
    color: #999;
    font-style: italic;
  }