/* Cartiva Widget - Sort columns
  -------------------------------------------------- */
#headings th {
  cursor: pointer !important;
  padding-top: 15px;
}

.arrow {
  display: inline-block;
  position: absolute;
  float: right;
  width: 0;
  margin-top: -12px;
  height: 0;
  vertical-align: middle;
  content: "";
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;=
}

th.sortup, th.sortdown {
  background: #dde8ee !important;
}

th.sortup .arrow {
  border-bottom: 4px solid #333  !important;
}

th.sortdown .arrow {
  border-top: 4px solid #333  !important;
}