h5,
select,
textarea,
button {
	display: none;
}

#lemodal {
	position:absolute;
	margin-top: 0;
	top: 0;
	width: 80%;
	max-width: 80%;
	background: none;
	padding:8px;
}

#lecontent {
	padding: 0px;
	width: 100%;
	/*overflow: auto;*/
	margin: 0;
}

#leclose {
}

#lecontent #rodetail {
	max-height: 100%;
	min-height: 100%;
	height: 100%;
	overflow: auto;
	color: red;
}