/* Global print styles */
html {
	background: none;
}

footer,
.sidebar {
	display: none;
	background: none;
}

#content-main,
#content-sub {
	font-size: 15px;
	color: #333;
	background: none;
}

header #top-bar, 
nav#main,
#testdata {
	display: none !important;
}

header h1 a {
	margin-top: 60px;
	display: inline;
	width: 100%;
	font-size: 40px;
	text-decoration: none;
	color: black;
	background: none;
}

h1 a span {
	display: block;
}

/* Page specific styles */
.blue-box {
	display: none;
}

#content-sub .stuff {
	margin: 0;
	padding: 0;
}

.stats-container table tr#headings th {
	color: #333;
}

table tr.aged24 {
	color: red;
}

.stats-container table td.col-update a {
	display: none;
}

#lecontent h5,
#lecontent select,
#lecontent textarea,
#lecontent button {
	display: none;
}

#lemodal {
	position:absolute;
	margin-top: 20px;
	top: 0;
	width: 80%;
	max-width: 80%;
	background: none;
	padding: 0;
}

#lecontent {
	padding: 0px;
	width: 80%;
	margin: 0;
}

#leclose {
}

#lecontent #rodetail {
	max-height: 100%;
	min-height: 100%;
	height: 100%;
	overflow: auto;
	color: red !important;
	width: 100%;
}

