/* Sub-page GLOBAL Styles */
* {
	margin: 0;
	padding: 0;
}

html {
	background: #fbf8f8;
	height: 100%;
	border-top: 53px solid #242323;
}

#top-bar,
h1 {
	position: relative;
	top: -53px;
}

header {
	height: 23px;
}

#content-fullscreen {
	/*background: orange;*/
	width: 100%; /* 960px */
	margin: 0 auto;
	height: 100%;
}