/* Sub-page GLOBAL Styles */
* {
	margin: 0;
	padding: 0;
}

html {
	background: #fbf8f8 url("../images/header-bg.gif") center top repeat-x;
	height: 100%;
}

/*Sub-page headers*/
/*#content-sub h2 {
	display: none;
}*/

#page-sub h2 {
	font-size: 27px;
	position: relative;
	color: #352d2e;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
}

h4 {
	font-size: 29px;
	margin-bottom: 10px;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	color: #352d2e;
	text-transform: uppercase !important;
}

h5 {
	font-size: 19px;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	color: #352d2e;
	margin: 0 0 4px 0;
}

h5.section-start {
	margin: 20px 0 0px 0;
}

h6 {
	font-size: 13px;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	color: #999;
	text-transform: uppercase;
	margin: 0px 0 2px 0;
}

p {
	margin: 10px 0;
	color: #352d2e;
	line-height: 1.5em;
	font-size: 13px;
}

em {
	font-style: italic;	
}

nav.sub-menu {
	background: url("../images/sub-menu_bottom.png") center bottom no-repeat;
	position: relative;
	top: -60px;
	width: 210px;
	height: 100%;
	/*min-height: 200px;*/
	float: right;
	padding-bottom: 15px;
}

nav.sub-menu ul {
	background: #e8e8e8;
	list-style-type: none;
	position: relative;
	/*min-height: 190px;*/
	/*padding: 20px 30px;*/
}

nav.sub-menu ul li {
	padding: 5px;
	margin: 5px;
	border-bottom: 1px dotted #c9c8c8;
}

.Today {
	background: #e0f4f6;
}

.line {
	display: block;
	font-size: 9px;
	color: #666;
}

.button {
	text-align: center; 
    cursor: pointer;
    position: relative;
    color: #FFF;
    background: #5e9ab2;
    padding: 4px;
    margin: 2px;
	border-radius: 5px;
	-moz-border-radius: 5px; /* Old Firefox */
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;	
	text-decoration: none;
	position: relative;
   /* width: 100%;
    height: 100%;
	display: block;*/
}

.btn-group {
	float: left;
	margin: 5px 10px 5px 0;
	padding-left: 10px;
	border-left: 1px solid #CCC;
}

.btn-group-lg {
	float: left;
	margin: 25px 0;
}

.btn-group-lg .button {
	padding: 8px;
}

/*Breadcrumbs!*/
#breadc {
	display: none;
	position: relative;
	background: #fefefe;
	border: 1px solid #eee;
	top: 10px;
	padding: 10px 0px;
	width: 100%;
	height: 7px;
	/*font-size: 90%;*/
	overflow: hidden;
	font-family: "OpenSansCondensed-Light", Helvetica, Arial, sans-serif;
}

#breadc ul {
	list-style-type: none;
	margin-left: -10px;
}

#breadc ul li {
	list-style-type: none;
	float: left;
}

#breadc ul li a {
	text-decoration: none;
	padding: 0 10px;
}
/*END Breadcrumbs!*/

/* END Sub-page GLOBAL Styles */

/* START Main Content */

#content-sub {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 6px;
  width: 90%; /* 960px */
  height: 100%;
  border-left: 1px solid #d5d4d4;
  background: url("../images/content-sub-bg_responsive.gif") repeat-y 19.27083333% 0; /* 185px / 960px */
}

#content-main {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 6px;
  width: 90%; /* 960px */
  min-height: 100%;
  height: 100%;
}

#page-sub {
	position: relative;
	margin: 0 auto;
	margin-top: 180px;
	width: 90%;
	height: 100%;
}

/* Sidebar Nav */
div.sidebar {
	position: absolute;
	top: 0;
	margin: 00px 0 0 0;
	padding-top: 7px;
	left: 0;
	height: 100%;
	float: left;
	width: 19.27083333%; /* 185px / 960px */
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
}

.sidebar .mainlink {
	text-transform: uppercase;
	background: #b3c7cf;
	font-size: 15px;
	text-decoration: none;
	padding: 7px 5px;
	margin-left: 0px;
	display: block;
	position: relative;
	color: #242323;
	font-weight: bold;
	/*background: url("../images/ul-border-bottom.gif") bottom repeat-x;*/

}

/*.sidebar .employees {
	background: #3e6a7b;
}

.sidebar .employees em {
	font-style: italic;
}*/

.sidebar .mainlink .glyphicon {
	font-size: 85%;
	margin-right: 5px;
}

.sidebar .nolink {
	cursor: default;
}

.sidebar .mainlink:hover {
	color: #5e9ab2;
}

/* Active main menu item */
.menu-item a.active {
	background: #242323;
	color: #ccc;
}

.menu-item a.active .arrow-right {
	width: 0; 
	height: 0; 
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	
	border-left: 12px solid #242323;

	position: absolute;
	float: right;
	right: -12px;
	top: -0px;
}

.sidebar .nolink:hover {
	color: #242323;
}
.sidebar .mainlink .icn {
	width: 17px;
	height: 15px;
	position: absolute;
	display: block;
	left: -17px;
	top: 3px;
	background: blue;
}

a.checkout {
	text-decoration: underline;
}

.sidebar a#header-dashboard .icn {
	background: url("../images/icn-home.gif") no-repeat;
}

.sidebar  a#header-employees .icn {
	background: url("../images/icn-employees.gif") no-repeat;
}

.sidebar  a#header-another .icn {
	background: url("../images/icn-other.gif") no-repeat;
}

.sidebar .menu-item {
	/*background: url("../images/ul-border-bottom.gif") bottom repeat-x;*/
	padding: 0;
	margin: 0;
}

.menu-item li span.sublink {
	top: 5px;
	position: relative;
}

.menu-item li span.sublink,
.supersubmenu li span,
.submenu li span {
	color: #5e9ab2;
	cursor: pointer;
}

.menu-item li span.nolink,
.submenu li span.nolink {
	color: #333;
	cursor: default;
	top: 5px;
	position: relative;
}

.menu-item li span.sublink:hover,
.supersubmenu li span:hover,
.submenu li span:hover {
	color: #2c4853;
}


.submenu {
	margin: 0 0 10px 30px;
	padding-bottom: 10px;
	font-size: 13px;
}

.submenu a {
	text-decoration: none;
	font-weight: 100;
}

.submenu ul {
	padding: 0 0 0 20px;
}

.submenu li,
.submenu ul li {
	padding: 2px 0px;
}

div.sidebar .menu-item .supersubmenu {
	display: none;  /*hides right away */
}

.supersubmenu li a:before {
	content: "> ";
}

.menu-item li span.selected {
	color: #2c4853;
	font-weight: bold;
	text-transform: uppercase;
}

/* END Sidebar Nav */

/*Main section after header and breadcrumbs*/
#content-sub .stuff {
	position: relative;
	width: 76.5625%; /* 735px / 960px */
	margin: 10px 0 0 40px;
	float: right;
	height: 100%;
	/*margin: 20px 0 0px 220px;*/
	padding-bottom: 40px;
	/*background: purple;*/
}

/*dashboard specific stuff*/
#content-sub .stuff section {
	/*margin-bottom: 20px;*/
}

.stats-container {
	margin-bottom: 30px;
	padding-top: 10px;
	display: block;
	position: relative;
	/*min-height: 100px;*/
}

.stats-container h4 {
	margin-top: 20px;
	margin-bottom: 0;
	text-transform: none;
}

.stats-container h4 em {
	text-transform: uppercase;
}

.stats-container h3 {
	margin-top: 20px;
	margin-bottom: -10px;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	font-size: 17px;
	text-transform: uppercase;
}


.stats-container p,
.stats-container p {
	width: 600px;
	margin-bottom: 20px;
	color: #666;
}

.stats-container .box {
	border: 1px solid #CCC;
	margin-bottom: 20px;
	background: #FFF;
}

.stats-container .box h5 {
	background: #f7f7f7;
	border-bottom: 1px solid #CCC;
	padding: 10px;
}

.stats-container .box p,
.stats-container .box ul {
	width: 97%;
	margin: 10px 10px 10px 10px;
}

.stats-container .box ul {
	font-size: 13px;
	list-style-type: disc;
	margin-left: 60px;
}

.stats-container .box ul li {
	width: 90%;
	color: #666;
	margin-bottom: 1.0em;
}

.stats-container .box-update {
	border-color: #dbaf00;
}

.stats-container .box-update hr {
	border: 0;
    height: .5px;
    background: #dbaf00;
}

.stats-container .box-update h5 {
	color: #a4730a;
  background-color: #fdf564;
  border-color: #dbaf00;
}

/* month-to-date labor sales box */
.stats-container aside {
	float: right;
	right: 0;
	padding: 10px 20px;
	background: #e8e8e8;
	border: 1px solid #d5d4d4;
	position: absolute;
	top: 10px;
	margin: 0;
	font-size: 12px;
	text-transform: uppercase;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
}

.stats-container aside h5 {
	font-size: 13px;
	padding: 0;
	margin: 0;
}

.stats-container aside h5 span {
	font-weight: bold;
	padding: 0;
}

.stats-container a aside {
}

.stats-container table {
	width: 100%;
	border: 1px solid #d5d4d4;
	margin: 10px 0;
	clear: left;
	color: #242323;
	background: #FFF;
	font-size: 11px;
}

/*For the landing page chart specifically*/
.stats-container table.splash {
	width: 100%;
	font-size: 13px;
}

.stats-container table td,
.stats-container table th {
	border-right: 1px solid #d5d4d4;
	vertical-align: middle;
	padding: 4px;
}

.stats-container table.splash th {
	border: 1px solid #d5d4d4;
	vertical-align: middle;
	padding: 10px;
}

.stats-container table.splash td {
	padding: 7px; /* for main stats tables */
}

.stats-container table.splash td small {
	color: #666;
}

.stats-container table th,
.stats-container table tr.total td {
	text-align: left;
	text-transform: uppercase;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: #f7f7f7;
	border: 1px solid #d5d4d4;
}

.stats-container table tr {
	border-bottom: 1px dashed #d5d4d4;
}

.stats-container table td a:hover {
	text-decoration: none;
}

/*.stats-container table td.column {
	width: 160px;
	text-transform: uppercase;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
}*/

.stats-container table td.column span.def-icon {
	display: inline-block;
	background: url("../images/icn-info.png") no-repeat;
	width: 16px;
	height: 16px;
	position: relative;
	margin-left: 10px;
	/*margin-top: 6px;*/
	opacity: .4;
	cursor: pointer;
}

.stats-container table td.column span.def-icon:hover {
	display: inline-block;
	background: url("../images/icn-info.png") no-repeat;
	opacity: 1;
}

.stats-container table td.column .def {
	display: none;
	background: #fdfafa;
	max-width: 280px;
	border: 1px solid #d5d4d4;
	padding: 15px;
	position: absolute;
	float: left;
	z-index: 1;
	text-transform: none;
	font-family: "Arimo-Regular", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.stats-container table th.today,
.stats-container table td.today, 
.stats-container table tr.today {
	background: #d7f3fb;
	font-weight: bold;
}

.stats-container table th .datespan,
.stats-container table td .datespan {
	display: block;
	font-size: 11px;
	opacity: .7;
	text-transform: none;
}

.stats-container table th .total,
.stats-container table td .total {
	background: #CCC;
}

.stats-container #table th.col-date {
	min-width: 50px;
}

.stats-container {
	/*background: purple;*/
}

/*.stats-container h5 {
	margin: 20px 0 10px 0;
}*/

.stats-container .tech-line,
.stats-container .grosspool-line form {
	display: block;
	position: relative;
	width: 96%;
	background: #ededed;
	border: 1px solid #CCC;
	padding: 20px 0;
	margin-bottom: 10px;
}

.stats-container .grosspool-line {
	border-top: 1px dotted #CCC;
	padding-top: 10px;
}

.stats-container .grosspool-line form {
	background: #eee;
	padding: 10px 0;
}

.stats-container .box .tech-line,
.stats-container .box .grosspool-line form {
	margin: 0 auto;
	margin-bottom: 10px;
}

.stats-container .tech-line h4,
.stats-container .grosspool-line label {
	font-size: 17px;	
	display: inline;
	margin: 0;
	padding: 0 0 0 10px;
	width: auto;
}

.stats-container .tech-line .mem-percent {
	float: right;
	width: auto;
	top: -5px;
	right: 90px;
	position: relative;
	font-size: 20px;
	color: #999;
}

.stats-container .tech-line .edit,
.stats-container .grosspool-line .edit {
	float: right;
	top: -10px;
	right: 10px;
	position: absolute;
}

.stats-container .grosspool-line label {
	color: #352d2e;
	text-transform: uppercase;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
}

.stats-container .grosspool-line input {
	border: 1px solid #CCC;
	padding: 8px;
	max-width: 70px;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 0 10px;
}

.stats-container #teams,
.stats-container #single-team {
	clear: both;
	/*background: green;*/
	display: block;
	height: 100%;
}

.stats-container #teams .box {
	/*margin-top: 30px;*/
	position: relative;
	width: 40%;
	float: left;
	margin: 0 8% 20px 0;
}

.stats-container #single-team .box {
	/*margin-top: 30px;*/
	position: relative;
	width: 100%;
}

.stats-container #teams .box .box-header,
.stats-container #single-team .box .box-header {
	margin-bottom: 10px;
}

.stats-container #teams .box .box-header h5,
.stats-container #single-team .box .box-header h5 {
	/*padding: 10px;
	background: orange;*/
}

.stats-container #teams .box .box-footer,
.stats-container #single-team .box .box-footer {
	border-top: 1px solid #CCC;
	margin-top: 10px;
	display: none;
}

.stats-container #teams .box .box-footer .btn,
.stats-container #single-team .box .box-footer .btn {
	right: 0;
	position: relative;
}

.stats-container .calc {
	width: 70%;
	position: relative;
	background: #FFF;
	border: 1px solid #e8e8e8;
	padding: 5px;
	margin: 0 0 20px 0;
}

.stats-container .calc-wide {
	width: 90%;
}

.stats-container .calc h5 {
	text-align: center;
	border-bottom: 1px solid #ededed;
	padding-bottom: 5px;
	margin: 10px auto;
	font-size: 20px;
	text-transform: uppercase;
}

.stats-container .calc div {
	width: 100%;
	position: relative;
	display: block;
	font-size: 30px;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	color: #333;
}

.stats-container .calc div span.calc-1,
.stats-container .calc div span.calc-3,
.stats-container .calc div span.calc-4,
.stats-container .calc div span.calc-5 {
	text-align: center;
	display: inline-block;
	padding: 5px 0;
}

.stats-container .calc div span.calc-1 {
	width: 100%;
}

.stats-container .calc div span.calc-4 {
	width: 20%;
}

.stats-container .calc div span.calc-3 {
	width: 30%;
}

.stats-container .calc div span.calc-5 {
	width: 16.9%;
}

.stats-container .calc div span.calc-1.total {
	font-size: 60px;
	padding: 20px;
	border: 1px dotted #999;
	width: 30%;
	margin: 0 auto;
	display: block;
}

.stats-container .calc div.captions span.calc-1,
.stats-container .calc div.captions span.calc-4,
.stats-container .calc div.captions span.calc-3,
.stats-container .calc div.captions span.calc-5 {
	font-size: 11px;
	text-transform: uppercase;
	color: #999;
	font-weight: 100;
	margin-top: -10px;
}

.stats-container .calc div.captions span.calc-4,
.stats-container .calc div.captions span.calc-1 {
	margin-top: 30px;
}

.stats-container .calc div.captions b {
	color: #FFF;
}

.stats-container button#calc-pay {
	background: #db0631;
	margin: 20px auto 30px;
	width: 25%;
	/*padding: 10px 10px !important;*/
	position: relative;
	display: block;
}

.stats-container .calc input {
	font-size: 30px;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	width: 90px;
	text-align: center;
	padding-top: 8px;
}

.stats-container .calc .row {
	/*background: red;*/
	width: 83%;
}

.stats-container .calc hr {
	margin-left: 0;
	width: 83%;
}

.stats-container .calc em {
	font-style: normal;
	/*border: 1px solid #EEE;
	background: #ededed;
	color: blue;
	padding: 5px 5px 0 5px;
	margin: 0;*/
}

.stats-container .calc .reg-pay {
	/*background: pink;
	display: inline-block;
	border: 1px dotted #666;
	padding: 10px 20px;*/
	margin-bottom: 10px;
}

.stats-container .calc button.btn-side {
	background: #db0631;
	padding: 100px 10px !important;
	float: right;
	max-width: 15%;
	right: 16px;
	top: 50px;
	margin: auto;
	position: absolute;
}

.stats-container .calc button.btn-side:hover {
	background: #b00326;
}

table tr.aged24 {
	background: #d90631;
	color: white;
}

.stats-container table td.col-update a {
	/*background: #2c4853 url("../images/edit-btn.png") no-repeat;*/
	float: right;
	background: #2c4853;
	position: relative;
	border-radius: 2px;
	-moz-border-radius: 2px;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	margin: 5px;
	right: 0px;
	clear: left;
	cursor: pointer;
	padding: 4px;
	color: #FFF;
	text-decoration: none;
}

.stats-container table td.col-update a:hover {
	background: #5e9ab2;
}

.stats-container table td.col-update .spacer {
	height: 100%;
	width: 100%;
	position: relative;
	top: -5px;
}

/*.stats-container table td.col-update .spacer button {
	width: 10px;
	height: 10px;
	margin-top: -10px;
	position: absolute;
	display: block;
}*/

.stats-container .dsh-float {
	width: 100%;
}

.stats-container .dsh-float img {
	/*width: 50%;*/
}

.stats-container .dsh-float #sum-desc {
	background: #FFF;
	left: 0;
	max-width: 70%;
}

.move {
	position: relative;
	left: -5px;
}

/* Table sorting icons */
.stats-container table tr#headings th {
	cursor: pointer;
	/*position: relative;
	color: #2c4853;*/
}

.stats-container table td a {
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
}

.stats-container table tr#headings th:hover {
	color: #db0631;
}

/*box specific*/
section.items {
	display: block;
	position: absolute;
	top: 0;
	float: right;
	right: 0;
}

section.items ul {
	margin: 10px -5px 0 0;
}

section.items ul li {
	list-style-type: none;
	float: left;
	margin: 0;
}

section.items ul li a {
	width: 50px;
	padding: 15px 10px;
	height: 40px;
	display: block;
	background: #e8e8e8;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #d7d7d7;
	color: #242323;
	margin: 0 5px;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	font-size: 11px;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
  	border-radius: 4px;
	-moz-border-radius: 4px;
}

.user-tools .blue-box {
	display: none;
}

.user-tools .blue-box span {
	background: url("../images/dashboard-icn_lg.png") no-repeat;
	width: 218px;
	height: 152px;
	display: block;
	margin: 0 30px;
}

.user-tools .blue-box h4 {
	font-size: 30px;
	color: #1b343d;
	margin: 10px 65px;
}

/*Modal box styles*/
#leoverlay {
	position:fixed; 
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.8;
	filter:alpha(opacity=80);
}

#lemodal {
	position:absolute;
	/*border: 3px solid #d5d4d4;*/
	margin: 0 auto;
	width: 80%;
	/*max-width: 1200px;
	height: 95%;
	background:url(tint20.png) 0 0 repeat;
	background:rgba(0,0,0,0.2);
	padding:8px;*/
}

#lecontent {
	background:#fff;
	padding: 30px;
	/*width: 90%;
	height: 25%;
	max-height: 800px;*/
	overflow: auto;
	margin: 50px 100px;
}

#leclose {
	position:absolute;
	/*background:url(close.png) 0 0 no-repeat;*/
	width:24px;
	height:27px;
	display:block;
	text-indent:-9999px;
	top:-7px;
}	

#lecontent .x-close {
  	width: 11px;
  	height: 12px;
  	background: #242323 url("../images/x-close.png") 4px 4px no-repeat;
  	display: block;
  	padding: 4px;
  	position: relative;
  	float: right;
  	margin-top: -20px;
  	margin-right: -20px;
  	cursor: pointer;
  	border-radius: 2px;
	-moz-border-radius: 2px;
	opacity: .7;
	z-index: 902;
}

#lecontent .x-close:hover {
	opacity: 1;
}

/* RO detail section */
#lecontent #rodetail {
	/*background: red;*/
	font-family: Courier New, Courier, monospace;
	max-height: 400px;
	overflow: scroll;
	margin-bottom: 20px;
	border: 2px solid #d5d4d4;
}

#lecontent #rodetail table {
	border: none;
	margin-bottom: 10px;
	display: block;
	padding: 10px;
}

#lecontent #rodetail th {
	border-bottom: 1px solid #666;
	text-align: left;
	padding: 5px;
	margin: 0 15px;
	font-weight: bold;
	text-transform: uppercase;
}

#lecontent #rodetail td {
	text-align: left;
	padding: 5px;
	margin: 5px;
	/*border: 1px solid #999;*/
	border: none;
	vertical-align: top;
}

#lecontent #rodetail td div,
#lecontent #rodetail td div p {
	margin: 0;
	padding: 0;
}

#lecontent #rodetail td.customer {
	max-width: 40px;
	/*word-wrap: break-word;
	word-break: break-all;*/
}

/*#lecontent #rodetail .shortdetails {
	min-width: 200px;
}

#lecontent #rodetail .longdetails {
	min-width: 500px;
}

#lecontent #rodetail .longdetails,
#lecontent #rodetail .shortdetails {
	position: relative;
}

#lecontent #rodetail .longdetails dl,
#lecontent #rodetail .shortdetails dl {
	width:100%;
 	overflow:hidden;
}

#lecontent #rodetail .longdetails dt,
#lecontent #rodetail .shortdetails dt {
	float:left;
 	width:20%; 
  	clear: both; 
  	height: 14px;
  	overflow: hidden;
}

#lecontent #rodetail .shortdetails dt {
	width: 70px;
}

#lecontent #rodetail .longdetails dd,
#lecontent #rodetail .shortdetails dd {
	float:left;
 	width:80%;
}

#lecontent #rodetail .shortdetails dd {
	width: 220px;
	word-wrap: break-word;
	word-break: break-all;
}*/

#lecontent #rodetail td.customer {
	max-width: 200px;
}
  
/* END RO detail section */

#lecontent h3 {
  	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	font-size: 22px;
	padding: 10px 5px 10px 30px;
	margin: -30px -30px 30px -30px;
	background: #d5d4d4;
	color: #242323;
	}

#lecontent h4 {
	/*border-bottom: 1px solid #d5d4d4;
	background: #242323;
	color: #FFF;*/
}

#lecontent h5 {
	margin: 20px 0 10px 0;
}

#lecontent p {
	padding: 20px 0;
}

#lecontent table,
#lecontent table td {
	border: 1px solid #d5d4d4;
}

/*#lecontent table.readonly,
#lecontent table.readonly td {
	border: none;
}

#lecontent .customerinfo {
	background: red;
}*/

#lecontent button {
	margin-right: 20px;
}

.entry {
	margin-top: 20px;
	min-height: 20px;
	font-size: 12px;
	background: #FFF;
}

#lecontent table td {
	padding: 10px 5px;
	font-size: 12px;
}

/* RO detail table font size */
#lecontent #rodetail table td {
	font-size: 13px;
}

/*Checkout box cell sizes*/
#lecontent table td.item {
	width: 400px;
}

#lecontent table td.number {
	width: 60px;
	background: #fdfafa;
}

#lecontent table td.number input {
	width: 50px;
	padding: 0;
	margin: 0;
}

#lecontent table td.status {
	background: #fdfafa;
}
/*END Checkout box cell sizes*/

/*Status update box cell sizes*/
#lecontent table td.label {
	width: 100px;
}

#lecontent table.readonly td.label {
	width: 30%;
}

#lecontent table td.label span {
	display: block;
	font-size: 10px;
	color: #666;
	text-transform: uppercase;
}

#lecontent table td.result {
	/*width: 800px;*/
}

#lecontent table td.result em {
	font-weight: bold;
}

#lecontent textarea {
	width: 99.3%;
	resize: none;
	padding: 2px;
	border: 1px solid #333;
}
/*END Status update box cell sizes*/

#lecontent table td.result input {
	width: 58px;
	margin: 0;
	padding: 0;
}

#lecontent #ro-list {
	margin: 30px 0 30px 0;
}

#lecontent #ro-list table {
	width: 100%;
}

.entry {
	margin-top: 20px;
	min-height: 20px;
	font-size: 12px;
	background: #FFF;
}

a.modal-link {
	cursor: pointer;
}

.instr {
	font-size: 10px;
	display: block;
	/*margin-top: 10px;*/
	font-style: italic;
	color: #666;
	/*text-transform: uppercase;*/
}

#prev-status {
	margin-top: 30px;
	border-top: 1px dotted #999;
	padding-top: 20px;
}

#prev-status h4 {
	margin-bottom: 10px;
}

#prev-status .label {
	font-weight: bold;
}

#prev-status .label span {
	font-weight: 100;
}

/* Complete check */
div.complete {
	background: #f9f9ae;
	/*border: 3px solid #5e9ab2;*/
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding: 10px 0;
	margin-top: 20px;
}

div.complete label {
	margin-top: 18px;
}

div.complete input[type=checkbox] {
	margin: 0 10px 0 10px;
	/* Double-sized Checkboxes */
	  -ms-transform: scale(1.2); /* IE */
	  -moz-transform: scale(1.2); /* FF */
	  -webkit-transform: scale(1.2); /* Safari and Chrome */
	  -o-transform: scale(1.2); /* Opera */
	  padding: 0;
}
/* END Complete check */

/*END Modal box styles*/

.simple {
	position: relative;
	/*background: fuchsia;*/
	width: 67.7083333333; /* 650px / 960px */
	padding: 30px 0;
	margin: 0 auto;
	display: block;
	text-align: center;
	border-top: 1px solid #d5d4d4;
	border-bottom: 1px solid #d5d4d4;
	opacity: .8;
	min-height: 100%;
	height: 100%;
	/*color: #d5d4d4;*/
}

.simple h4 {
	font-size: 50px;
	opacity: .8;
	/*color: #d5d4d4;*/
}

.simple h5 {
	opacity: .8;
	/*color: #d5d4d4;*/
}

.simple h4 span {
	font-size: 250px;
	display: block;
}

.simple p {
	width: 400px;
	margin: 20px auto;
	/*color: #7e7e7e;*/
}

div.contact {
	text-align: left;
	display: block;
	clear: both;
	min-height: 400px;
	height: 100%;
	width: 50%;
	margin: 0 auto;
}

div.contact span {
	margin: 20px 0;
	display: block;
}

div.contact input.text {
	height: 20px;
	width: 396px;
	border: 1px solid #999;
	background: #FFF;
	font-size: 13px;
	font-family: Courier New, Helvetica, Arial, sans-serif;
}

div.contact label.label {
	min-width: 85px;
	display: inline-block;
	text-align: right;
	margin-right: 5px;
	padding: 5px 0;
	vertical-align: top;
}

div.contact #message {
	width: 400px;
	font-size: 13px;
	resize: none;
	font-family: Courier New, Helvetica, Arial, sans-serif;
}

.contact input.submit {
	margin-top: -70px;
	color: #fdfafa;
	background: #5e9ab2;
}

#contact-main .message {

} 

.contact input.submit:hover {
	margin-top: -70px;
	color: #fdfafa;
	background: #2c4853;
}

#notices h4 {
	display: none;
	background: #f9f9ae;
	width: 878px;
	height: 100%;
	padding: 20px 40px;
	border: 1px solid #999;
	font-size: 16px;
	text-transform: none;
	-moz-box-shadow: 5px 5px 5px #CCC;
	-webkit-box-shadow: 5px 5px 5px #CCC;
	box-shadow: 5px 5px 5px #CCC;
}

.form_success {
	background: #d2f6c5;
	border: 3px solid #487f35;
	padding: 10px;
	color: #487f35;
	font-weight: bold;
	text-transform: uppercase;
	-moz-border-radius: 8px;
		 border-radius: 8px;
}

/*END Sub-page Content */