/* Colors */
/* Brown: #242323; */
/* Dark Blue: #2c4853; */
/* Light Blue: #5e9ab2; */
/* Background White: #d5d4d4; */
/* Off White: #fdfafa; */
/* Medium White: #d5d4d4; */
/* Magenta: #db0631; */
/* END Colors */

/* GLOBAL Styles */
* {
	margin: 0;
	padding: 0;
}

html {
	background: #fbf8f8 url("../images/header-bg.gif") center top repeat-x;
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
}

body {
	font-family: "Arimo-Regular", Helvetica, Arial, sans-serif;
	font-size: 12px;
	min-width: 960px;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

a, a:active {
	color: #5e9ab2;
	font-weight: bold;
}

a:hover {
	color: #2c4853;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

hr {
	border: none;
	background: #e8e8e8;
	margin: 20px auto 10px auto;
	text-decoration: none;
	height: 1px;
	width: 95%;
}

#quotes p {
	font-style: italic;
}

input {
	/*background: #fdfafa;*/
	background: #fdfce6;
	border: 1px solid #d5d4d4;
	font-family: "Arimo-Regular", Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666;
	padding: 2px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	/*background: #5e9ab2;*/
	outline: #5e9ab2 groove thin;
}

input:hover {
	background: #fdfce6;
}

button {
	margin-top: 20px;
	padding: 10px 25px;
	position: relative; 
	background: #2c4853;
	color: #FFF;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px; 
}

button:hover {
	background: #5e9ab2;
}

/*button.close-can {
	background: #2c4853;
	color: #FFF;
	opacity: .3;
}*/

*::selection {
	background: #f8f595; /* Safari */
	}
*::-moz-selection {
	background: #f8f595; /* Firefox */
}

small {
	font-size:x-small;
	/*font-style: italic;*/
	color: #999;
}

sup {
	font-size:xx-small; 
	vertical-align:super;
}

strong {
	font-weight: 700;
	text-transform: uppercase;
}

sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
	font-size: 70%;
	line-height:0;
}

sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
	font-size: 70%;
	line-height:0;
}

h2 {
	font-size: 30px;
	color: #242323;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
}

dl {
	padding: 10px;
	margin: 10px 0 20px 0;
	width: 70%;
}

dt {
	float: left;
  clear: left;
  font-weight: bold;
  color: #333;
  padding: 10px 0 10px 10px;
  margin: 0 5px 0 0;
  /*border-bottom: 1px dotted #e8e8e8;*/
}

dt:after {
  content: ":";
}

dd {
  padding: 10px 0 10px 10px;
  margin-left: 10px;
  color: #666;
  border-bottom: 1px dotted #e8e8e8;
}

#testdata {
	position: absolute;
	background: yellow;
	width: 100%;
	text-align: center;
	padding: 15px 40px;
	border: 1px solid #999;
	font-size: 16px;
	text-transform: none;
	/*display: none !important;*/
	opacity: .8;
	margin: 0 auto;
	top: 30px;
	z-index: 10000000;
}

#body-wrap {
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -265px;/* Negative indent footer by it's height */
}

#push {
	clear: both;
	height: 265px;/*height of footer minus a little to adjust for moving it into the content-sub/main*/
}
/* END GLOBAL Styles */

/* START header */
#top-bar {
	position: relative;
	height: 53px;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
}

#login-form {
	position: relative;
	float: right;
	display: block;
	padding-right: 20px;
	padding-left: 15px;
	margin-top: 10px;
	height: 30px;
	/*border-left: 1px dotted #2c4853;*/
}

/*#login-form .dropdown {
     margin-right: 5px;
}*/

/*Name container*/
#login-form .dropclick {
    text-align: center; 
    cursor: pointer;
    position: relative;
    color: #FFF;
    width: 100%;
    height: 100%;
    background: #5e9ab2;
    padding: 10px 10px;
	border-radius: 5px;
	-moz-border-radius: 5px; /* Old Firefox */
}

#login-form .dropclick:hover {
    background: #2c4853;
}

#login-form ul.dditems {
    display: none;
    right: 0;
    top: 35px;
    position: absolute;
    background: #fdfafa;  
    border: 1px solid #999;
   	min-width: 140px;
   	list-style-type: none;
   	padding: 10px;
   	z-index: 1000;
}


/* IE labels */
.dropdown .login-box label {
	color: #666;
	margin-bottom: 0px;
	display: block;
}

#login-form .dropdown ul.dditems li a span {
    display: block;
}

#login-form ul.dditems li a span.dash {
    text-transform: uppercase;
}

#login-form ul.dditems li input {
	font-size: 13px;
	width: 150px;
	letter-spacing: .025em;
	padding: 4px;
	margin-bottom: 10px;
}

#login-form ul.dditems li input.submit {
	padding: 10px 25px;
	background: #db0631;
	color: #FFF;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px; 
}

#login-form ul.dditems li input.submit:hover {
	background: #242323;
	color: #FFF;
	
}

#login-form ul.dditems li a.forgot {
    text-decoration: underline;	
}

#login-form .dropdown li.arrow {
	background: url("../images/popdown-arrow.png") no-repeat; 
	position: absolute;
	width: 18px;
	height: 9px;
	display: block;
	top: -9px;
	right: 25px;
}

#login-form .dditems li a {
	margin: 0px 0;
	text-decoration: none;
	display: block;
	color: #333;
}

#login-form .dditems li a:hover {
	color: #db0631;
}

#login-form .dditems li.section-start a {
	border-top: 1px solid #ddd;
	padding-top: 10px;
	margin-top: 10px;
}

#sitemap {
	display: block;
	margin-top: 10px;
	height: 30px;
	float: right;
}

#top-bar #sitemap ul {
	
}

#top-bar #sitemap ul li,
#top-bar #sitemap ul#fullscreen li {
	margin-left: 5px;
	float: right;
	list-style-type: none;
}

#top-bar #sitemap ul#fullscreen li {
	float: left;
}

#top-bar #sitemap ul li a {
	display: block;
	font-weight: 100;
	padding: 10px 0px 10px 20px;
	color: #a5a2a2;
	text-decoration: none;
	margin-left: 5px;
}

#top-bar #sitemap ul li a:hover {
	color: #5e9ab2;
}

header {
	position: relative;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 0px;
	height: 110px;
	clear: both;
}

header h1 a {
	display: inline;
	float: left;
	position: absolute;
	top: 0px;
	left: 0;
	width: 154px;
	height: 64px;
	background: url("../images/logo.png") no-repeat;
	clear: both;
}

header span.tagline {
	display: none;
}

h1 a span {
	display: none;
}

nav#main {
	position: relative;
}

nav#main ul {
	float: right;
	width: 60%;
	height: 45px;
	padding-top: 15px;
}

nav#main ul li {
	float: right;
	margin: 2px 10px;
	list-style-type: none;
}

nav#main ul li a {
	color: #242323;
	font-weight: 100;
}

nav#main ul li:hover a {
	background: #5e9ab2;
	color: white;
}

nav#main ul li a {
	display: block;
	padding: 10px;
	text-transform: uppercase;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-decoration: none;
}

header .search {
	width: 170px;
	height: 25px;
	margin-top: 20px;
	float: right;
	border-left: 1px dotted #766a6b;
	display: none;
}

header .search form {
	height: 25px;
	background: red;
	float: right;
}

header .search form input {
	display: block;
	float: left;
}

header .search form input.keywords {
	background: #fdfdfd;
	font-family: Trebuchet MS, Arial, sans-serif;	
	color: #666;
	width: 125px;
	height: 21px;
	border: none;
	font-size: 11px;
	padding: 2px;
}

header .search form input.submit {
	background: url("../images/btn-search_header.gif") no-repeat;
	width: 23px;
	cursor: pointer;
	height: 25px;
	border: none;
}

header .search form input.submit:hover {
	opacity: .8;
}
/* END header */

/* START Main Content */
/* Container for main login to center it (same level as content) */
.main-login {
	/*width: 960px !important;
	min-width: 960px;*/
	width: 83.3333333333%; /* 800px / 960px */
	background: tan;
	height: 100%;
	min-height: 100%;
	position: relative;
	margin: 40px auto;
}

/*On homepage using as login box*/
.blue-box {
	width: 27.857142857%; /* 280px / 800px */
	position: relative;
	height: 100%;
	background: #2c4853;
	float: left;
	left: 0;
	padding: 3.5714285714%; /* 20px / 280px - padding * 2 */
	margin: 0;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	color: #b4b4b4;
	-webkit-box-shadow: 0 8px 6px -6px #000;
	   -moz-box-shadow: 0 8px 6px -6px #000;
	        box-shadow: 0 8px 6px -6px #000;
}

.gray-box {
	display: block;
	padding: 10px;
	width: 57.291666666%; /* 550px / 960px */
	min-height: 180px;
  	margin: 0 auto 30px;
	background: #e8e8e8;/*url("/images/custom/arrow-lg-login.png") right no-repeat*/
	padding: 50px;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	color: #333;
	position: relative;
	overflow: hidden;
}

.gray-box input.text {
	display: block;
	margin: 20px 0;
	height: 20px;
}

/* IE Labels */

.login-box label {
	margin-top: 5px;
	display: block;
	font-size: 11px;
	margin-bottom: -10px;
}

.blue-box .login-box .extra a:hover {
	color: #d5d4d4;
}

.blue-box p.title {
 	margin-bottom: 0px;
 	line-height: 1.2em;
 	font-size: 20px;
 	text-transform: uppercase;
}

.blue-box input,
.gray-box input {
 	border: none;
 	outline: none;
}

.blue-box .login-box input.text,
.gray-box .login-box input.text {
	background: #1b2e36;
	color: #d5d4d4;
	border: none;
	padding: 10px;
	margin: 10px 0;
	width: 100%;
	font-size: 13px;
	font-family: Courier New, Helvetica, Arial, sans-serif;
}

.gray-box .login-box input.text {
	background: #fdfafa;
	color: #333;
}

.blue-box .login-box .extra,
.gray-box .login-box .extra {
	width: 150px;
	height: 50px;
	float: left;
	display: block;
	margin-top: 15px;
}

.blue-box .login-box input.submit,
.gray-box .login-box input.submit,
.contact input.submit {
	float: right;
	position: relative;
	width: 100px;
	background: #fdfafa;
	padding: 15px 20px;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	border-radius: 5px;
	font-size: 14px;
	-moz-border-radius: 5px; /*Old Firefox*/
	margin-top: 15px;
	cursor: pointer;
}

.gray-box .login-box input.submit {
	/*margin-right: 280px;*/
	float: none;
}

.gray-box h4 em.error {
	color: #db0631;
}

.gray-box h5.secondary {
	margin-bottom: 20px;
}

.simple .gray-box {
	text-align: left;
}

.blue-box .login-box input.submit:hover,
.gray-box .login-box input.submit:hover,
.contact input.submit:hover {
	background: #5e9ab2;
	color: #fdfafa;
}

.blue-box h3 {
	font-size: 37px;
	color: #132228;
}

.blue-box p {
	color: #132228;
	font-size: 15px;
}

.blue-box a.button {
	/*background: #FFF url("../images/dashboard-icn.png") 20px 10px 50% no-repeat;*/
	color: #2c4853;
	text-transform: uppercase;
	position: relative;
	padding: 20px 35px 20px 45px;
	text-align: left;
	text-wrap: none;
	margin-top: 20px;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	display: block;
	text-decoration: none;
	-moz-border-radius: 5px; 
}

.blue-box a.button:hover {
	color: #FFF;
}

.blue-box a.button span {
	background: url("../images/dashboard-icn.png") no-repeat;
	background-size: 50%;
	position: absolute;
	margin: 0 0 0 20px;
	width: 57px;
	height: 40px;
	left: -10px;
	top: 15px;
	/*padding: 10px;*/
}

.blue-box p.all-done {
	margin-top: 20px;
	color: #d5d4d4;
	font-size: 12px;
}

.blue-box p.all-done a:hover {
	color: #1b2e36;
}

/*Message in place of boxes while we're in beta*/
aside.beta-message {
	/*background: url("../images/message-bg.png") no-repeat;*/
	background: #FFF;
	border: 1px solid #e8e8e8;
	margin: 4% auto;
	z-index: -1;
	padding: 3.8615384%; /* 20px / 520px */
	width: 57.2769232%; /* 520px / 800px - padding * 2 */
	float: right;
	right: 0;
	/*height: 228px;*/
	position: absolute;
	font-family: "OpenSansCondensed-Light", Helvetica, Arial, sans-serif;
}

aside.beta-message h5 {
	font-size: 20px;
}

aside.beta-message h3 {
	font-size: 50px;
	margin: 5px 0;
	text-transform: uppercase;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #2c4853;
}

aside.beta-message p {
	font-size: 14px;
	font-family: "Arimo-Regular", Helvetica, Arial, sans-serif;
}


section#quotes {
	clear: both;
	margin: 20px 0;
	display: block;
	position: relative;
	text-align: right;
	background: #d5d4d4;
	font-family: Georgia, Times, Times New Roman, Serif;
	color: #db0631;
	padding: 50px 50px;display: none;
}

section#quotes p {
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}

section#quotes p.author {
	font-style: normal;
	font-size: 10px;
	opacity: .2;
	margin-top: 10px;
}

#bottom {
	/*border-top: 3px solid #d5d4d4;*/
	position: relative;
	clear: both;
	margin-top: 50px;
}

section#events,
section#jobs {
	display: block;
	width: 399px;
	float: left;
	overflow: hidden;
	height: 300px;
	padding: 20px 40px;
	font-size: 11px;
	letter-spacing: normal;
	/*background: #d5d4d4;*/
}

section#events {
	display: none;
	border-right: 1px dotted #d5d4d4;
}

section#jobs {
	display: none;
}

section#jobs h4,
section#events h4 {
	width: 124px;
	height: 75px;
	display: block;
	margin: 0 auto;
}

section#jobs h4 {
	background: url("../images/h4-jobs.png") no-repeat;
}

section#events h4 {
	background: url("../images/h4-events.png") no-repeat;
}

section#jobs h4 span,
section#events h4 span {
	display: none;
}

section#jobs ul,
section#events ul {
	list-style-type: none;
	margin: 0;
	margin-top: 20px;
}

section#jobs a,
section#events a {
	text-decoration: none;
	display: block;
}

section#jobs li {
	display: block;
	margin-bottom: 5px;
	background: url("../images/arrow-lg.png") no-repeat right;
	padding: 5px 25px 5px 5px;
}

section#jobs li:hover {
	background: #fdfafa url("../images/arrow-lg.png") no-repeat right;
}

section#jobs .title {
	font-size: 17px;
	
	color: #5e9ab2;
	font-weight: bold;
}

section#jobs .summary {
	margin-top: 3px;
	display: block;
	color: #333;
}

section#events li {
	background: #fdfafa;
	display: block;
	margin: 10px;
	padding: 15px 20px 0 10px;
	height: 55px;
	overflow: hidden;
	opacity: .8;
}

section#events li a {
	color: #333;
}

section#events li:hover {
	opacity: 1;
}

section#events .cal-graphic {
	width: 50px;
	height: 40px;
	float: left;
	margin: 0 20px 0 0;
	background: #5e9ab2;
	color: white;
}

section#events .cal-graphic .day {
	font-family: Georgia, Times, Times New Roman, Serif;
	color: #d5d4d4;
	font-size: 25px;
	width: 50px;
	height: 30px;
	margin-top: -3px;
	display: block;
	text-align: center;
}

section#events .cal-graphic .month {
	width: 50px;
	height: 10px;
	display: block;
	font-size: 10px;
	color: #2c4853;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

section#events .title {
	font-weight: 700;
	display: block;
}

/* END Main Content */
.clear {
	clear: both;
}

/* START Footer */
footer {
	font-family: "OpenSansCondensed-Light", Helvetica, Arial, sans-serif;
	display: block;
	width: 100%;
	margin: 0 auto;
	font-size: 13px;
	/*margin-top: 50px;*/
	position: relative;
	letter-spacing: .125em;
	height: 300px;
	overflow: hidden;
	background: #e8e8e8 url("../images/footer-bg.gif") bottom repeat;
}

footer a {
	color: #666;
	text-decoration: none;
	font-weight: 100;
}

footer aside {
	overflow: hidden;
	position: relative;
	background: #181818;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
}

footer aside #search {
	margin: 40px auto;
	width: 625px;
	padding: 10px 0;
	height: 30px;
	color: #FFF;
	display: none;
}

footer aside #search h4 {
	width: 250px;
	height: 36px;
	display: block;
	background: url("../images/h4-search.gif") no-repeat;
	float: left;
}

footer aside #search h4 span {
	display: none;
}

footer aside #search form input.keywords {
	width: 330px;
	height: 27px;
	display: block;
	border: none;
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	padding: 0 5px;
	background: #e8e8e8;
	float: left;
}

footer aside #search form input.submit {
	width: 27px;
	height: 27px;
	display: block;
	cursor: pointer;
	border: none;
	background: url("../images/btn-search_footer.gif") no-repeat;
}

footer aside #search form input.submit:hover {
	opacity: .8;
}

footer #epic {
	width: 90%;
	background: green;
	margin: 0 auto;
}

footer #epic section {
	width: 25%; /* 240px / 960px */
	display: block;
	float: left;
	margin: 30px 0px 0 0px;
}

footer #epic section h5 {
	font-family: "OpenSansCondensed-Bold", Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #d5d4d4;
	font-weight: bold;
	margin-bottom: 5px;
}

footer #epic section ul {
	list-style-type: none;
}

footer #epic section ul li {
	line-height: 1.75em;
}
/* END Footer */